/*------------------------------------------------------------------
[Table of contents]

1. Buttons
2. Notices
3. Highlights
4. Pre tag
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Theme Button]
-------------------------------------------------------------------*/
.wpex-theme-button {
    text-decoration: none !important;
    background: #0489b9;
    color: #fff;
    font-weight: 400;
    text-shadow: none;
    display: inline-block;
    padding: 0.5em 1.2em;
    border-radius: 3px;
}
.wpex-theme-button:hover {
    color: #fff;
    opacity: 0.85;
    text-decoration: none;
}
.wpex-theme-button.blue {
    background: #3498db
}
.wpex-theme-button.red {
    background: #d9534f
}
.wpex-theme-button.orange {
    background: #f0ad4e
}
.wpex-theme-button.green {
    background: #5cb85c
}
.wpex-theme-button.black {
    background: #000
}
.wpex-theme-button.white {
    background: #fff;
    color: #000;
}
.wpex-theme-button.clean {
    color: #000;
    background: none;
    border: 1px solid #ccc;
}
.wpex-theme-button.clean:hover {
    opacity: 1;
    background: #f4f4f4;
}

/*------------------------------------------------------------------
[2. Notices]
-------------------------------------------------------------------*/
.wpex-notice {
    padding: 20px;
    margin: 0 0 20px;
    background: #f0f0f0;
    border-left: 5px solid #f0ad4e;
}
.wpex-info {
    border-left-color: #5bc0de
}
.wpex-info strong {
    color: #5bc0de
}
.wpex-warning {
    border-left-color: #d9534f
}
.wpex-warning strong {
    color: #d9534f
}
.wpex-success {
    border-left-color: #5cb85c
}
.wpex-success strong {
    color: #5cb85c
}

/*------------------------------------------------------------------
[3. Highlights]
-------------------------------------------------------------------*/
.wpex-text-highlight {
    display: inline-block;
    background-color: #FFF49B;
    color: #A5651A;
    padding: 0 5px;
}

/*------------------------------------------------------------------
[4. Pre Tag]
-------------------------------------------------------------------*/
body#tinymce.wp-editor pre {
    background: #f9f9f9;
    padding: 20px 30px;
    margin-bottom: 30px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: 'Verdana';
    border-left: 10px solid #ccc;
    font-size: 0.929em;
}