/*------------------------------------------------------------------
[Table of contents]

1. Product Grid
2. Buttons
3. Notices
4. Price
5. Shop
6. Product Entries
7. Onsale Tag
8. Pagination
9. Product Image
10. Product Details
11. Product Thumbnails
12. Product Tabs
14. Upsells
15. Related Products
16. Cart
17. Checkout
18. Account Page
19. Edit Account Page
20. Widgets
21. Categories
22. Menu Cart Dropdown
23. Shop Carousel
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Product Grid]
-------------------------------------------------------------------*/
.products.wpex-row {
    margin: 0 -10px !important
}
.products.wpex-row .wpex-col {
    float: left;
    margin: 0 0 20px !important;
    padding: 0 10px !important;
}
.products.wpex-row .wpex-count-1 {
    clear: both
}
.products.wpex-row .wpex-col-1 {
    width: 100%;
    margin-bottom: 40px;
}
.products.wpex-row .wpex-col-2 {
    width: 50% !important
}
.products.wpex-row .wpex-col-3 {
    width: 33.33% !important
}
.products.wpex-row .wpex-col-4 {
    width: 25% !important
}
.products.wpex-row .wpex-col-5 {
    width: 20% !important
}
.products.wpex-row .wpex-col-6 {
    width: 16.66666667% !important
}

/*------------------------------------------------------------------
[2. Buttons]
-------------------------------------------------------------------*/
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    
    /*reset*/
    background: none;
    border: transparent;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    font-family: inherit;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    -webkit-font-smoothing: subpixel-antialiased;
    
    /*style*/
    background: #f27684;
    color: #fff;
    padding: 0.4em 0.8em;
    transition: all .25s;
}
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}
.woocommerce #content input.button:active,
.woocommerce #respond input#submit:active,
.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce-page #content input.button:active,
.woocommerce-page #respond input#submit:active,
.woocommerce-page a.button:active,
.woocommerce-page button.button:active,
.woocommerce-page input.button:active {
    top: 0
}

/* Button > Disabled */
.woocommerce button.disabled,
.woocommerce button.alt:disabled {
    background: #000 !important;
    opacity: 0.4;
}

/*------------------------------------------------------------------
[3. Notices]
-------------------------------------------------------------------*/
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.04);
    padding: 30px;
    margin: 0 0 30px !important;
}

/*------------------------------------------------------------------
[4. Price]
-------------------------------------------------------------------*/
.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: #000
}
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
    color: #000;
    font-size: 1em;
}

/*------------------------------------------------------------------
[5. Shop]
-------------------------------------------------------------------*/

/*archive*/
.woocommerce .wpex-archive-header {
    margin: 0 0 30px;
    text-align: left;
}
.woocommerce .wpex-archive-title {
    float: left
}
.woocommerce .wpex-archive-title > span {
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

/*main ul*/
.woocommerce .products ul,
.woocommerce ul.products,
.woocommerce-page .products ul,
.woocommerce-page ul.products {
    margin: 0 -10px !important
}

/*sorting*/
.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-ordering,
.woocommerce-page .woocommerce-result-count {
    display: none
}

/*ordering*/
.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-ordering,
.woocommerce-page .woocommerce-result-count {
    margin: 0 0 20px;
    color: #565656;
    font-size: 0.929em;
}
.woocommerce .wpex-shop-orderby {
    float: right;
    padding: 0;
    list-style: none;
}
.woocommerce .wpex-shop-orderby li {
    position: relative;
    list-style: none;
    margin: 0;
}
.woocommerce .wpex-shop-orderby li.wpex-border-button {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.woocommerce .wpex-shop-orderby ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    z-index: 9999;
    margin: 0;
    white-space: nowrap;
    width: 200px;
    right: -1px;
    padding: 10px 0;
}
.woocommerce .wpex-shop-orderby li:hover > ul,
.woocommerce .wpex-shop-orderby li.wpex-show-ul > ul {
    margin: 0;
    visibility: visible;
    opacity: 1;
}
.woocommerce .wpex-shop-orderby a {
    display: block;
    position: relative;
    color: #aaa;
    text-decoration: none;
    padding: 5px 15px;
    line-height: 1.4;
    text-transform: capitalize;
    font-size: 0.929em;
    transition: 0.15s background-color;
}
.woocommerce .wpex-shop-orderby ul li {
    background: #000
}
.woocommerce .wpex-shop-orderby ul li:first-child {
    padding-top: 10px
}
.woocommerce .wpex-shop-orderby ul li:last-child {
    padding-bottom: 10px
}
.woocommerce .wpex-shop-orderby a:hover {
    color: #fff
}
.woocommerce .wpex-shop-orderby li.wpex-border-button .fa {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #000;
}
.woocommerce .wpex-shop-orderby li.wpex-show-ul.wpex-border-button {
    background: #000;
    color: #fff;
}
.woocommerce .wpex-shop-orderby li:hover .fa,
.woocommerce .wpex-shop-orderby li.wpex-show-ul .fa {
    border-color: #fff
}

/*------------------------------------------------------------------
[6. Product Entries]
-------------------------------------------------------------------*/

/*entry main*/
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
}
.woocommerce ul.products li.product.first,
.woocommerce-page ul.products li.product.first {
    margin-left: 0 !important
}
.wpex-product-entry-inner {
    padding: 30px;
    background: #fff;
    position: relative;
}

/*entry image*/
.wpex-product-entry-media {
    margin: -30px -30px 30px
}
.woocommerce ul.products li.product a img {
    margin: 0
}
.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
    box-shadow: none !important
}

/*entry heading*/
.woocommerce ul.products li.product:hover h3 {
    text-decoration: underline
}
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
    font-size: 1.286em;
    font-weight: 400;
    padding: 0;
    margin-bottom: 10px;
}

/*entry rating*/
.woocommerce .products .star-rating,
.woocommerce-page .products .star-rating {
    color: #F9CF29;
    float: none;
    display: block;
    margin: 0 auto 10px;
    font-size: 11px;
}
.woocommerce .star-rating,
.woocommerce p.stars a {
    color: #F9CF29
}

/*entry price*/
.woocommerce ul.products li.product .price {
    font-size: 1em
}
.woocommerce ul.products li.product .price del {
    display: inline-block
}
.woocommerce ul.products li.product .price ins {
    font-weight: normal;
    text-decoration: none;
    font-size: 1em;
}
.woocommerce div.product p.price del {
    text-decoration: line-through !important
}

/*entry add to cart button*/
.woocommerce .products .add_to_cart_button {
    
    /*reset*/
    background: none;
    
    /*style*/
    position: relative;
    margin-top: 10px;
    border: 1px solid #000;
    color: #000;
    padding: 0.4em 0.8em;
}
.woocommerce .products .add_to_cart_button.loading {
    padding-right: 0.8em;
    background: #000;
    opacity: 0.5 !important;
    cursor: not-allowed;
    color: #fff;
}
.woocommerce .products .add_to_cart_button.loading:after {
    display: none !important
}
.woocommerce .products .add_to_cart_button:after {
    margin-top: -3px
}
.woocommerce .products .add_to_cart_button:hover {
    border-color: transparent;
    opacity: 1;
}
.woocommerce .products a.button.added {
    background: #000;
    color: #fff;
    border-color: transparent;
}

/*entry added to cart*/
.woocommerce a.added_to_cart,
.woocommerce-page a.added_to_cart {
    display: none;
    float: right;
}

/*------------------------------------------------------------------
[7. Onsale Tag]
-------------------------------------------------------------------*/
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce-cart span.onsale {
    
    /*reset*/
    border-radius: 0;
    width: auto;
    top: 0;
    left: 0;
    right: auto;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
    height: auto; 
    line-height: 1;
    margin: 0;
    min-height: 0;
    min-width: 0;
    text-decoration: none;
    
    /*style*/
    font-size: 11px;
    padding: 0.6em 1em;
    background: #000;
    text-transform: uppercase;

}

.product-wrapper span.onsale {
    left: 40px;
    top: 40px;
}

/*------------------------------------------------------------------
[8. Pagination]
-------------------------------------------------------------------*/
.woocommerce nav.woocommerce-pagination {
    padding-top: 20px
}
.woocommerce nav.woocommerce-pagination .page-numbers {
    list-style: none;
    margin: 0;
    border: 0;
    display: block;
}
.woocommerce nav.woocommerce-pagination .page-numbers li {
    display: block;
    float: left;
    text-align: center;
    margin-right: 4px;
    border: 0;
}
.woocommerce nav.woocommerce-pagination .page-numbers:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.woocommerce nav.woocommerce-pagination .page-numbers a,
.woocommerce nav.woocommerce-pagination .page-numbers span {
    background: #fff;
    border: 1px solid #e4e4e4;
    color: #404040;
    cursor: pointer;
    display: block;
    float: left;
    width: auto;
    padding: 6px 10px;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
}
.woocommerce nav.woocommerce-pagination .page-numbers a:hover,
.woocommerce nav.woocommerce-pagination .page-numbers span.current {
    background: #f27684;
    color: #fff;
    border-color: transparent;
    text-decoration: none;
}

/*------------------------------------------------------------------
[9. Product Image]
-------------------------------------------------------------------*/
.woocommerce #content div.product div.images img,
.woocommerce div.product div.images img,
.woocommerce-page #content div.product div.images img,
.woocommerce-page div.product div.images img {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.woocommerce .images .thumbnails {
    margin: 0 -5px
}
.woocommerce #content div.product div.thumbnails.columns-4 a,
.woocommerce div.product div.thumbnails.columns-4 a,
.woocommerce-page #content div.product div.thumbnails.columns-4 a,
.woocommerce-page div.product div.thumbnails.columns-4 a {
    margin: 0 0 10px !important;
    width: 25%;
    padding: 0 5px;
}

/*------------------------------------------------------------------
[10. Product Details]
-------------------------------------------------------------------*/
.woocommerce #content div.product .product_title,
.woocommerce div.product .product_title,
.woocommerce-page #content div.product .product_title,
.woocommerce-page div.product .product_title {
    font-size: 1.714em;
    text-transform: none;
    margin: 0 0 10px;
    padding: 0;
}
.woocommerce div.product .woocommerce-product-rating {
    margin: 0 0 10px
}
.woocommerce-review-link {
    display: none
}
.woocommerce .quantity .qty {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    display: block;
    outline: 0;
    border: 1px solid #ddd;
    text-align: center;
}
.woocommerce div.product form.cart .button {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: #f27684;
}
.woocommerce div.product form.cart .button:hover {
    background: #000
}
.woocommerce .quantity .qty::-webkit-inner-spin-button,
.woocommerce .quantity .qty::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.woocommerce .quantity .qty {
    -moz-appearance: textfield
}
.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
    display: inline;
    display: inline-block;
}
.woocommerce div.product p.price del,
.woocommerce div.product p.price ins,
.woocommerce div.product p.price span {
    text-decoration: none
}
.woocommerce div.product .stock {
    color: #444;
    text-decoration: underline;
}

/*variations*/
.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
    margin: 0 0 20px
}
.woocommerce div.product form.cart .variations {
    margin: 0;
    border: 1px solid #ddd;
    width: 100%;
}
.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
    padding: 10px
}
.woocommerce div.product form.cart .variations td {
    border-bottom: 1px solid #ddd
}
.woocommerce div.product form.cart .variations td.label {
    padding-right: 10px;
    border-right: 1px solid #ddd;
    background: #f1f1f1;
}
.woocommerce div.product form.cart .variations label {
    font-weight: normal;
    color: #000;
    font-size: 1em;
}
.woocommerce .single_variation {
    margin-top: 20px;
    color: #777;
}
.woocommerce .single_variation p {
    margin: 0
}
.reset_variations {
    display: none !important
}

/*------------------------------------------------------------------
[11. Product Thumbnails]
-------------------------------------------------------------------*/
.woocommerce #content div.product div.thumbnails a.first,
.woocommerce div.product div.thumbnails a.first,
.woocommerce-page #content div.product div.thumbnails a.first,
.woocommerce-page div.product div.thumbnails a.first {
    margin-left: 0
}
.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
    width: 23.5%;
    margin-left: 2%;
    margin-bottom: 10px;
    margin-right: 0;
}

/*------------------------------------------------------------------
[12. Product Tabs]
-------------------------------------------------------------------*/
.woocommerce-tabs {
    clear: both;
    padding-top: 30px;
}
.woocommerce-tabs .entry-content p:last-child {
    margin: 0
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before {
    display: none
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
    margin: 0 0 30px;
    padding: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    background: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0;
    margin: 0 10px 0 0;
    display: block;
    float: left;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
    padding: 5px 10px;
    margin: 0;
    font-weight: normal;
    transition: all 0.15s ease-in-out;
    text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 1px solid #eee;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover {
    text-decoration: underline;
    color: #000;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
    background: #000;
    color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-color: transparent;
    text-decoration: none;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after {
    display: none !important
}
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel {
    padding: 0;
    display: none;
}
.woocommerce-page div.product .woocommerce-tabs .panel#tab-description {
    display: block
}
.woocommerce #content div.product .woocommerce-tabs .panel h2,
.woocommerce div.product .woocommerce-tabs .panel h2,
.woocommerce-page #content div.product .woocommerce-tabs .panel h2,
.woocommerce-page div.product .woocommerce-tabs .panel h2 {
    margin: 0 0 20px;
    font-size: 1.500em;
}

/*tab attributes*/
.woocommerce table.shop_attributes th {
    font-weight: normal;
    color: #000;
}
.woocommerce table.shop_attributes p {
    color: #777
}
.woocommerce table.shop_attributes,
.woocommerce table.shop_attributes td,
.woocommerce table.shop_attributes th {
    border-style: solid;
    border-color: #ddd;
}
.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
    padding: 0 8px
}

/*------------------------------------------------------------------
[13. Reviews]
-------------------------------------------------------------------*/
.woocommerce #review_form .comment-form-rating label {
    display: none
}
.woocommerce #reviews h3 {
    margin: 0 0 10px
}
.woocommerce #review_form #respond p.stars {
    margin: 0 0 20px
}
.woocommerce #reviews #comments h2 {
    margin-bottom: 20px
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    border: 0;
    padding: 0;
    margin-left: 80px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    border: 0;
    padding: 0;
    background: none;
    height: 60px;
    width: 60px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    margin: 0 0 10px;
    font-size: 1em;
    color: #000;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    color: #555
}
.woocommerce-noreviews {
    margin: 0 0 20px;
    color: #999;
}

/*------------------------------------------------------------------
[14. Upsells]
-------------------------------------------------------------------*/
.woocommerce .related,
.woocommerce .upsells.products,
.woocommerce-page .related,
.woocommerce-page .upsells.products {
    margin-bottom: 20px
}

/*------------------------------------------------------------------
[15. Related Products]
-------------------------------------------------------------------*/
.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product {
    margin-right: 0;
    margin-left: 2%;
    margin-bottom: 20px;
    width: 32.0%;
}
.upsells.products h2,
.related.products h2 {
    font-size: 1.500em;
    font-weight: normal;
    margin: 0 0 20px;
}

/*------------------------------------------------------------------
[16. Cart]
-------------------------------------------------------------------*/
.woocommerce-cart .entry {
    padding: 0
}
.woocommerce table.shop_table {
    border-radius: 0;
    border-width: 1px;
    border-color: #ddd;
}
.woocommerce table.shop_table td,
.woocommerce table.shop_table {
    border-color: #ddd
}
.woocommerce-cart .woocommerce .woocommerce-error,
.woocommerce-cart .woocommerce .woocommerce-info,
.woocommerce-cart .woocommerce .woocommerce-message {
    box-shadow: none;
    background: #f9f9f9;
}
.woocommerce-cart .cross-sells h2,
.woocommerce-checkout .cross-sells h2 {
    margin: 0 0 30px
}
.woocommerce table a,
.woocommerce a.remove {
    color: #000 !important
}
.woocommerce a.remove:hover {
    background: none;
    color: red !important;
    text-decoration: none;
}
.woocommerce table.shop_table td.actions {
    padding: 12px
}
.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
    margin: 0;
    padding: 0;
}
.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.woocommerce-page table.cart td.actions .button {
    height: 30px;
    line-height: 30px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-weight: 400;
}

/*cart totals*/
.woocommerce .cart-collaterals .cart_totals h2 {
    margin-top: 20px
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: 100%
}
.woocommerce-cart .cart-collaterals .cart_totals table {
    border: 1px solid #ddd
}
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th {
    border-color: #ddd;
    padding: 6px 12px;
}
.woocommerce-cart .cart-collaterals .cart_totals tr th {
    border-right: 1px solid #ddd
}
.woocommerce-cart .cart-collaterals .cart_totals table {
    width: 100%
}
.woocommerce-cart .wc-proceed-to-checkout {
    padding: 20px 0 0
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

/*------------------------------------------------------------------
[17. Checkout]
-------------------------------------------------------------------*/
.woocommerce-checkout .entry {
    padding-bottom: 0
}
.woocommerce-checkout .woocommerce-error,
.woocommerce-checkout .woocommerce-info,
.woocommerce-checkout .woocommerce-message {
    background: #f9f9f9;
    box-shadow: none;
}
.woocommerce-checkout .woocommerce-error a,
.woocommerce-checkout .woocommerce-info a,
.woocommerce-checkout .woocommerce-message a {
    color: #000;
    text-decoration: underline;
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border-color: #ddd;
    border-radius: 0;
    padding: 20px;
}
.woocommerce form.login .form-row {
    padding: 0
}
.woocommerce form.login p {
    margin: 0 0 10px;
    color: #777;
}
.woocommerce form.login p.lost_password {
    margin: 0
}
.woocommerce form.checkout_coupon {
    border: none;
    padding: 0;
}
.woocommerce form.checkout_coupon input {
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
}
.woocommerce form.checkout_coupon .form-row {
    padding: 0
}
.woocommerce #customer_details {
    padding-top: 30px;
    border-top: 1px solid #ddd;
}
.woocommerce #customer_details h3 {
    margin: 0 0 20px
}
.woocommerce-checkout thead th {
    background: #f0f0f0
}
.woocommerce-checkout .woocommerce table.shop_table th {
    border-right: 1px solid #ddd
}
.woocommerce-checkout #payment {
    background: none;
    border: 1px solid #ddd;
    border-radius: 0;
}
.woocommerce-checkout #payment label {
    color: #000
}
.woocommerce-checkout #payment div.payment_box {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 0;
    width: 100%;
}
.woocommerce-checkout #payment div.payment_box:after {
    display: none
}
.woocommerce-checkout label {
    font-size: 1em;
    color: #444;
}
.woocommerce table.shop_table tfoot td {
    font-weight: normal
}
.select2-container .select2-choice {
    text-decoration: none !important;
    background-color: #f9f9f9;
}
.woocommerce-checkout #payment ul.payment_methods,
.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: #ddd
}
.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: red
}
.woocommerce-checkout thead th {
    background: #f6f6f6
}

/*------------------------------------------------------------------
[18. Account Page]
-------------------------------------------------------------------*/
.woocommerce-account .woocommerce-error,
.woocommerce-account .woocommerce-info,
.woocommerce-account .woocommerce-message {
    background: #f9f9f9;
    box-shadow: none;
}

/*------------------------------------------------------------------
[19. Edit Account Page]
-------------------------------------------------------------------*/
.woocommerce-account .woocommerce form legend {
    display: none
}
.woocommerce-account .entry {
    padding: 0
}
.woocommerce-account .addresses .title h3 {
    margin: 0
}
.woocommerce-account .addresses .address {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #000;
}
.woocommerce-account .addresses .address address {
    color: #555
}

/*------------------------------------------------------------------
[20. Widgets]
-------------------------------------------------------------------*/
.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
    margin: 7px 0
}

/*categories widget*/
.wpex-sidebar .widget_product_categories a {
    display: block;
    float: left;
    padding: 4px 10px;
    background: #f27684;
    color: #fff !important;
    margin: 0 1px 1px 0;
    transition: all 0.15s;
}
.wpex-sidebar .widget_product_categories a:hover,
.wpex-sidebar .widget_product_categories a:focus {
    background: #000;
    text-decoration: none;
}

/*product search widget*/
.woocommerce-product-search .search-field {
    width: 70%;
    float: left;
    background: transparent;
    border-radius: 0;
    color: inherit;
    display: block;
    margin: 0;
    max-width: 100%;
    padding: 0 0.7em;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    transition: 0.25s all;
    font-weight: inherit;
    font-family: inherit;
    -webkit-appearance: none;
    line-height: inherit;
    box-shadow: none;
    background: #fff;
    border: 1px solid #ccc;
    border-right: 0;
    outline: none;
}
.woocommerce-product-search .search-field:hover {
    outline: 0
}
.woocommerce-product-search input[type="submit"] {
    width: 30%;
    float: right;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

/*cart & product widget*/
.wpex-sidebar .widget_top_rated_products ul.product_list_widget,
.wpex-sidebar .widget_recently_viewed_products ul.product_list_widget,
.wpex-sidebar .widget_products ul.product_list_widget,
.wpex-sidebar .widget_recent_reviews ul.product_list_widget,
.wpex-sidebar .widget_shopping_cart .widget_shopping_cart_content {
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.04);
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    position: absolute;
    left: 0;
    top: 10px;
    height: 60px;
    width: 60px;
    margin: 0;
}
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
    font-weight: normal;
    color: #000;
}
.woocommerce ul.cart_list li a:hover,
.woocommerce ul.product_list_widget li a:hover {
    text-decoration: underline
}
.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li,
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
    position: relative;
    min-height: 80px;
    padding: 10px 30px 10px 80px;
    border-bottom: 1px solid #e0e0e0;
}
.woocommerce .widget_top_rated_products ul.product_list_widget li:last-child,
.woocommerce .widget_recently_viewed_products ul.product_list_widget li:last-child,
.woocommerce .widget_products ul.product_list_widget li:last-child,
.woocommerce .widget_recent_reviews ul.product_list_widget li:last-child {
    min-height: 70px;
    border: 0;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
    top: 10px;
    right: 0;
    left: auto;
    font-size: 21px;
    background: none !important;
    color: #000 !important;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove:hover,
.woocommerce.widget_shopping_cart .cart_list li a.remove:hover {
    color: red !important;
    text-decoration: none !important;
}
.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
    border: 0;
    padding-top: 10px;
    margin: 0 0 10px;
}
.woocommerce .widget_shopping_cart .buttons {
    margin: 0
}
.wpex-sidebar .widget_shopping_cart .buttons {
    margin: 0 0 10px
}
.woocommerce .widget_shopping_cart .cart_list li.empty,
.woocommerce.widget_shopping_cart .cart_list li.empty,
.woocommerce ul.cart_list li.empty,
.woocommerce ul.product_list_widget li.empty {
    min-height: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 0;
}

/*range slider widget*/
.woocommerce .widget_price_filter .ui-slider {
    margin-bottom: 20px
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background: #777
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background: #000
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #ddd
}
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce .widget_price_filter .price_slider_amount {
    font-size: 1em
}

/*------------------------------------------------------------------
[21. Categories]
-------------------------------------------------------------------*/
.woocommerce ul.products li.product-category,
.woocommerce-page ul.products li.product-category {
    margin: 0 0 20px;
    padding: 0 10px;
}
.woocommerce-page.columns-2 ul.products li.product,
.woocommerce.columns-2 ul.products li.product {
    width: 50%
}
.woocommerce-page.columns-3 ul.products li.product,
.woocommerce.columns-3 ul.products li.product {
    width: 33.33%
}
.woocommerce-page.columns-4 ul.products li.product,
.woocommerce.columns-4 ul.products li.product {
    width: 25%
}
.woocommerce ul.products li.product-category a img {
    display: block;
    margin: 0 auto 20px;
}
.woocommerce .product mark {
    background: none
}

/*------------------------------------------------------------------
[22. Menu Cart Dropdown]
-------------------------------------------------------------------*/
.wpex-cart-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    z-index: 10000;
    padding: 10px 20px 20px;
    max-height: 400px;
    width: 260px;
    overflow-y: auto;
    transition: all 0.25s ease-in-out;
    font-weight: 400;
}
.wpex-cart-dropdown .buttons {
    margin: 0
}
.wpex-cart-dropdown .widgettitle {
    display: none !important
}
.wpex-cart-dropdown li:first-child {
    border-top: none
}
.wpex-cart-dropdown .quantity {
    font-size: 0.857em
}
.wpex-cart-dropdown span.amount {
    opacity: 0.7
}
.wpex-cart-dropdown .total {
    color: #000
}
.wpex-shop-icon-count {
    position: relative;
    top: -4px;
    left: 4px;
}

/*------------------------------------------------------------------
[23. Shop Carousel]
-------------------------------------------------------------------*/
.wpex-shop-carousel-wrap {
    background: #fff;
    width: 100%;
    padding: 40px 0;
}
.wpex-shop-carousel-outer {
    display: none
}
.wpex-shop-carousel-price ins {
    text-decoration: none !important
}
.wpex-shop-carousel-heading {
    margin: 0 0 20px
}

/*shop carousel entry*/
.shop-entry-thumbnail {
    margin-bottom: 15px
}
.shop-entry-thumbnail img {
    display: block;
    width: 100%;
}
.wpex-shop-carousel-entry {
    text-align: center
}
.wpex-shop-carousel-title {
    font-weight: normal;
    font-size: 1.286em;
    margin: 0 0 5px;
}
.wpex-shop-carousel-entry:hover .wpex-shop-carousel-title a {
    text-decoration: underline
}
.wpex-shop-carousel-price {
    color: #000;
    opacity: 0.8;
}

/* shop carousel pager */
.wpex-shop-carousel-wrap .lSSlideOuter {
    overflow: visible
}
.wpex-shop-carousel-wrap .lSSlideOuter .media.active {
    opacity: 1
}
.wpex-shop-carousel-wrap .lSSlideOuter .lSPager.lSpg {
    position: absolute;
    top: -60px;
    right: 0;
    padding: 0;
    text-align: center;
    padding: 15px 0 0;
}
.wpex-shop-carousel-wrap .lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 2px;
}
.wpex-shop-carousel-wrap .lSSlideOuter .lSPager.lSpg > li a {
    display: inline-block;
    height: 10px;
    overflow: hidden;
    text-indent: -999em;
    width: 10px;
    position: relative;
    z-index: 99;
    transition: all 0.15s;
    border: 2px solid #ddd;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
}
.wpex-shop-carousel-wrap .lSSlideOuter .lSPager.lSpg > li:hover a {
    background-color: #000;
    border-color: transparent;
}
.wpex-shop-carousel-wrap .lSSlideOuter .lSPager.lSpg > li.active a {
    background: #f27684;
    border-color: transparent;
}